    <!--푸터-->
    <footer>
        <div class="bg-light p-5 text-center">
          <ul>
            <li>© 2023. Group 6 team-project</li>
            <li>j,n,l,c</li>
            <li>All rights reserved.</li>
          </ul>
        </div>
      </footer>
      <!--푸터-->
    </body>
  </html>
  