{{>layout/userheader}}
<!-- 메인 -->
<!-- 각자 페이지 main 클래스에 name 작성-->
<!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
<main class="emp_info main_page">
  <div class="container">
    <!-- container 건들지 말기 -->
    <!-- 여기서부터 시작 -->
    <div class="position_box">
      <div class="position_tab">
        <ul class="position_category">
          <li>
            <a href="#" class="">전체</a>
          </li>
          <li>
            <a href="#" class="">서버 백엔드 개발자</a>
          </li>
          <li>
            <a href="#" class="position_active">프론트 엔드 개발자</a>
          </li>
          <li>
            <a href="#" class="">웹 풀스택 개발자</a>
          </li>
          <li>
            <a href="#" class="">안드로이드 개발자</a>
          </li>
          <li>
            <a href="#">IOS개발자</a>
          </li>
          <li>
            <a href="#">크로스 플랫폼 개발자</a>
          </li>
        </ul>
      </div>
      <ul class="position_menu">
        <li class="position_skill com_skill position_active">
          <span class="skill_box">MySQL</span>
          <span class="skill_box">Spring</span>
          <span class="skill_box">Java</span>
          <span class="skill_box">HTML/CSS</span>
          <span class="skill_box">JavaScript</span>
          <span class="skill_box">React</span>
        </li>

        <li class="position_skill com_skill">
          <span class="skill_box">MySQL</span>
          <span class="skill_box">Spring</span>
          <span class="skill_box">Java</span>

        </li>

        <li class="position_skill com_skill">
          <span class="skill_box">HTML/CSS</span>
          <span class="skill_box">JavaScript</span>
          <span class="skill_box">React</span>
        </li>

        <li class="position_skill com_skill">
          <span class="skill_box">
            4
          </span>
        </li>
        <li class="position_skill com_skill">
          <span class="skill_box">
            5
            </spa>
        </li>
        <li class="position_skill com_skill">
          <span class="skill_box">
            6
          </span>
        </li>
        <li class="position_skill com_skill">
          <span class="skill_box">
            7
          </span>
        </li>
      </ul>
    </div>
    <div class="position_select">
      <select class="select select_skill">
        <option disabled selected>기술스택</option>
        <option>java</option>
        <option>javaScript</option>
      </select>
      <select class="select select_edu">
        <option disabled selected>경력</option>
        <option>java</option>
        <option>javaScript</option>
      </select>
      <select class="select select_adr">
        <option disabled selected>지역</option>
        <option>java</option>
        <option>javaScript</option>
      </select>
    </div>
    <div class="main_box">
      <ul class="com_cont com_box">
        <li class="comp_item">
          <a href="user_job_opening_apply.html">
            <ul class="comp_cont">
              <li class="comp_img">
                <img src="/image/company_img/comp_img01.png" alt="기업01">
              </li>
              <li class="com_name">
                모트렉스
              </li>
              <li class="com_tit">
                <h4>웹개발(백엔드,프론트엔드)</43>
              </li>
              <li class="com_txt">
                CSS3·jQuery·Linux·JavaScript
              </li>
              <li class="com_etc">
                <span class="com_adr">서울 영등포구</span>
                <span class="com_car">경력 5-15년</span>
              </li>
            </ul>
          </a>
        </li>
        <li class="comp_item">
          <a href="user_job_opening_apply.html">
            <ul class="comp_cont">
              <li class="comp_img">
                <img src="/image/company_img/comp_img01.png" alt="기업01">
              </li>
              <li class="com_name">
                모트렉스
              </li>
              <li class="com_tit">
                <h4>웹개발(백엔드,프론트엔드)</43>
              </li>
              <li class="com_txt">
                CSS3·jQuery·Linux·JavaScript
              </li>
              <li class="com_etc">
                <span class="com_adr">서울 영등포구</span>
                <span class="com_car">경력 5-15년</span>
              </li>
            </ul>
          </a>
        </li>
        <li class="comp_item">
          <a href="user_job_opening_apply.html">
            <ul class="comp_cont">
              <li class="comp_img">
                <img src="/image/company_img/comp_img01.png" alt="기업01">
              </li>
              <li class="com_name">
                모트렉스
              </li>
              <li class="com_tit">
                <h4>웹개발(백엔드,프론트엔드)</43>
              </li>
              <li class="com_txt">
                CSS3·jQuery·Linux·JavaScript
              </li>
              <li class="com_etc">
                <span class="com_adr">서울 영등포구</span>
                <span class="com_car">경력 5-15년</span>
              </li>
            </ul>
          </a>
        </li>
        <li class="comp_item">
          <a href="user_job_opening_apply.html">
            <ul class="comp_cont">
              <li class="comp_img">
                <img src="/image/company_img/comp_img01.png" alt="기업01">
              </li>
              <li class="com_name">
                모트렉스
              </li>
              <li class="com_tit">
                <h4>웹개발(백엔드,프론트엔드)</43>
              </li>
              <li class="com_txt">
                CSS3·jQuery·Linux·JavaScript
              </li>
              <li class="com_etc">
                <span class="com_adr">서울 영등포구</span>
                <span class="com_car">경력 5-15년</span>
              </li>
            </ul>
          </a>
        </li>
        <li class="comp_item">
          <a href="user_job_opening_apply.html">
            <ul class="comp_cont">
              <li class="comp_img">
                <img src="/image/company_img/comp_img01.png" alt="기업01">
              </li>
              <li class="com_name">
                모트렉스
              </li>
              <li class="com_tit">
                <h4>웹개발(백엔드,프론트엔드)</43>
              </li>
              <li class="com_txt">
                CSS3·jQuery·Linux·JavaScript
              </li>
              <li class="com_etc">
                <span class="com_adr">서울 영등포구</span>
                <span class="com_car">경력 5-15년</span>
              </li>
            </ul>
          </a>
        </li>
      </ul>
    </div>
  </div>
</main>
<!-- 메인 -->
{{>layout/footer}}