{{>layout/userheader}}
<!--메인-->
<!-- 각자 페이지 name 작성-->
<main class="community_write common_bg">
  <div class="container mt-3">
    <!-- container 건들지 말기 -->
    <div class="user_community_write_gif">
      <h2>질문하기</h2>
      <br>
      <p>무엇이든 물어보세요!</p>
    </div>
    <div class="card">
      <div class="card-body">
        <form action="#">
          <div class="mb-3">
            <input type="text" class="form-control" placeholder="제목을 작성해주세요." name="title">
          </div>
          <div class="mb-3">
            <textarea class="form-control" rows="10" name=" content" id="content"></textarea>
          </div>
          <button type="submit" class="btn btn-primary form-control">등록하기</button>
        </form>
      </div>
    </div>
  </div>

  </div>
</main>
<!--메인-->
{{>layout/footer}}