{{>layout/compheader}}

<!-- 메인 -->
<!-- 각자 페이지 main 클래스에 name 작성-->
<!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
<main class="open_resume main_page">
  <div class="container">
    <!-- container 건들지 말기 -->
    <!-- 여기서부터 시작 -->
    <div class="position_box">
      <ul class="position_menu">
        <li class="position_skill com_skill position_active">
          <span class="skill_box">MySQL</span>
          <span class="skill_box">Spring</span>
          <span class="skill_box">Java</span>
          <span class="skill_box">HTML/CSS</span>
          <span class="skill_box">JavaScript</span>
          <span class="skill_box">React</span>
        </li>
      </ul>
    </div>
    <div class="position_select">
      <select class="select select_skill">
        <option disabled selected>기술스택</option>
        <option>java</option>
        <option>javaScript</option>
      </select>
      <select class="select select_edu">
        <option disabled selected>경력</option>
        <option>java</option>
        <option>javaScript</option>
      </select>
      <select class="select select_adr">
        <option disabled selected>지역</option>
        <option>java</option>
        <option>javaScript</option>
      </select>
    </div>
    {{#resumeList}}
    <div class="main_box">
      <a href="/user/{{id}}/resume/detail">
        <ul class="user_cont user_box">
          <li class="user_img">
            <img src="/image/user_img/j_img.png" alt="이력서 사진">
          </li>
          <li class="user_cont">
            <div class="com_tit">
              <h3>
                {{userName}}
              </h3>
            </div>
            <div class="com_tit">
              <h4>
                {{title}}
              </h4>
            </div>
            <div class="com_txt">{{career}} {{#careerYear}}{{careerYear}}{{/careerYear}}</div>
            <div class="com_txt">{{address}}</div>
            <div class="com_skill open_resume_skill">
              <span class="skill_box"></span>
            </div>
          </li>
        </ul>
      </a>
    </div>
    {{/resumeList}}
  </div>
</main>
{{>layout/footer}}