{{>layout/compheader}}

<!--메인-->
<!-- 각자 페이지 name 작성-->
<main class="community_list common_bg">
  <div class="container mt-3">
    <!-- container 건들지 말기 -->

    <div class="community_search">
      <form action="/comp/community" method="get" class="d-flex">
        <input class="search form-control me-2" type="text" placeholder="검색어를 입력해주세요" name="keyword" />
        <button class="btn btn-primary" type="submit">Search</button>
      </form>
      <form action="comp_community_write.html">
        <button type="submit" class="btn btn-primary">작성하기</button>
      </form>
    </div>

    <div class="company_inner_box_fluid">
      <div class="community-comment">
        <h2>커뮤니티</h2>
        <br>
        <p>다양한 사람을 만나고 생각의 폭을 넓혀보세요.</p>
      </div>
      <img class="community_gif " src="/image/com_img/community.gif" alt="community-gif">
    </div>

    <div class="board">
      {{#communityPG}}
      <div class="inner_box_board mt-3">
        <div class="each_board">
          <a href="comp_community_detail.html">
            <img class="speech_png " src="/image/com_img/speech.png" alt="speech_png">
            <div class="title">{{title}}</div>
            <div class="content">{{content}}</div>
            <div class="info_write">
              <ul>
                <li class="write_user">{{user.userName}}</li>
                <li class="write_created-at">{{createdAt}}</li>
              </ul>
            </div>
          </a>
        </div>
      </div>
      {{/communityPG}}
    </div>

    <div class="inner_box_button mt-5">
      <ul class="pagination d-flex justify-content-center">
        <li class="page-item {{#communityPG.first}}disabled{{/communityPG.first}}"><a class="page-link"
            href="?page={{prev}}">Prev</a></li>
        <li class="page-item {{#communityPG.last}}disabled{{/communityPG.last}}"><a class="page-link"
            href="?page={{next}}">Next</a></li>
      </ul>
    </div>
  </div>
</main>
<!--메인-->

{{>layout/footer}}