{{>layout/compheader}}

<!-- 메인 -->
<!-- 각자 페이지 main 클래스에 name 작성-->
<!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
<main class="job_opening">
    <div class="container">
        <!-- container 건들지 말기 -->
        <!-- 여기서부터 시작 -->
        <div class="row">
            <div class="col-sm-8">
                <div class="job_opening_title">
                    <h1>{{jobOpeningDetailDTO.title}}</h1>
                    <br>
                    <h4>{{jobOpeningDetailDTO.compName}}</h4>
                </div>
                <hr>
                <div class="job_opening_content">
                    <div class="skill">
                        <h3>개발직무</h3>
                        <ul>
                            {{#jobOpeningDetailDTO.requiredPositionList}}
                            <li class="position_skill com_skill">
                                <span class="skill_box">{{positionName}}</span>
                            </li>
                            {{/jobOpeningDetailDTO.requiredPositionList}}
                        </ul>
                    </div>

                    <div class="skill">
                        <h3>기술스택</h3>
                        <ul>
                            {{#jobOpeningDetailDTO.requiredSkillList}}
                            <li class="comp_skill com_skill">
                                <span class="skill_box">{{skillName}}</span>
                            </li>
                            {{/jobOpeningDetailDTO.requiredSkillList}}
                        </ul>
                    </div>

                    <div class="want">
                        <h3>주요업무</h3>
                        <ul>
                            {{#jobOpeningDetailDTO.taskList}}
                            <li>{{taskContent}}</li>
                            {{/jobOpeningDetailDTO.taskList}}
                        </ul>
                    </div>

                    <div class="want">
                        <h3>자격요건</h3>
                        <ul>
                            {{#jobOpeningDetailDTO.qulifiedList}}
                            <li>{{qualifiedContent}}</li>
                            {{/jobOpeningDetailDTO.qulifiedList}}
                        </ul>
                    </div>

                    <div class="want">
                        <h3>채용절차</h3>
                        <p>{{jobOpeningDetailDTO.process}}</p>
                    </div>

                    <div class="want">
                        <h3>경력</h3>
                        <div class="career-flex">
                            <p>{{jobOpeningDetailDTO.career}}</p>
                            <p>{{jobOpeningDetailDTO.careerYear}}</p>
                        </div>
                    </div>

                    <div class="want">
                        <h3>학력</h3>
                        <p>{{jobOpeningDetailDTO.edu}}</p>
                    </div>

                    <div class="want">
                        <h3>마감일</h3>
                        <p>{{jobOpeningDetailDTO.deadLine}}</p>
                    </div>

                    <div class="want">
                        <h3>근무지역</h3>
                        <p>{{jobOpeningDetailDTO.compAddress}}</p>
                    </div>
                </div>
                <hr>
                <div class="company_introduce">
                    <h3>기업 / 서비스 소개</h3>
                    <div class="company_pic">
                        <img src="/image/company_img/{{jobOpeningDetailDTO.compPicUrl}}"
                            alt="{{jobOpeningDetailDTO.compPicUrl}}">
                    </div>
                    <div class="company_intro">
                        <span>연력</span>
                        <span>{{jobOpeningDetailDTO.compFormatCreatedAt}}</span>
                    </div>
                    <div class="about_company">
                        <p>{{jobOpeningDetailDTO.compIntro}}</p>
                    </div>
                </div>
            </div>

            <div class="col-sm-4">

                <div class="apply_company_company">
                    <div class="apply_company_img">
                        <!-- 기업 이미지는 css의 백그라운드로 들어감 -->
                    </div>
                    <div class="apply_company_title">
                        {{jobOpeningDetailDTO.title}}
                    </div>
                    <div class="apply_company_name">
                        {{jobOpeningDetailDTO.compName}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<!-- 메인 -->

{{>layout/footer}}