{{>layout/compheader}}

<!-- 메인 -->
<!-- 각자 페이지 main 클래스에 name 작성-->
<!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
<main class="emp_info main_page">
  <div class="container">
    <!-- container 건들지 말기 -->
    <!-- 여기서부터 시작 -->
    <div class="position_box">
      <div class="position_tab">
        <ul class="position_category" id="position">
          <li>
            <a href="#" class="" onclick="handleAllClick()">전체</a>
          </li>
          {{#positionList}}
          <li>
            <a href="#" class="skill_box" onclick="handlePositionClick('{{id}}')">{{position}}</a>
          </li>
          {{/positionList}}
        </ul>
      </div>
      <ul class="position_menu">
        {{#skillList}}
        <li class="position_skill com_skill">
          <a href="#" class="skill_box" onclick="handleSkillClick('{{id}}')">{{skill}}</a>
        </li>
        {{/skillList}}
      </ul>
    </div>



    <div class="position_select">
      <select class="select select_edu">
        <option disabled selected>경력</option>
        <option>신입</option>
        <option>1년차</option>
        <option>2년차</option>
        <option>3년차</option>
        <option>4년차</option>
        <option>5년차</option>
      </select>
      <select class="select select_adr">
        <option disabled selected>지역</option>
        <option>전국</option>
        <option>서울</option>
        <option>경기</option>
        <option>인천</option>
        <option>부산</option>
        <option>대구</option>
        <option>광주</option>
        <option>대전</option>
        <option>울산</option>
        <option>세종</option>
        <option>충북</option>
        <option>충남</option>
        <option>전북</option>
        <option>전남</option>
        <option>경북</option>
        <option>경남</option>
        <option>제주</option>
      </select>
    </div>
    <div class="main_box" id="position-box">

    </div>
  </div>


  <script>

    render(null, 'all');

    $(document).ready(function () {
      // 초기 데이터를 불러오는 AJAX 요청
      async function loadInitialData() {
        let responseBody = await download(null, 'all'); // null과 'all'을 전달하여 초기값을 설정
        responseBody.forEach((jobOpening) => {
          $("#position-box").append(jobOpeningBox(jobOpening));
        });
      }
    });

    // 페이지 로드 시 초기 데이터를 불러옵니다.
    loadInitialData();

    function handleAllClick() {
      render(null, 'all');
    }

    function handlePositionClick(positionId) {
      render(positionId, 'position');
    }

    function handleSkillClick(skillId) {
      render(skillId, 'skill');
    }

    $("#position-1").click();
    $("#skill-1").click();

    // 2. 통신해서 화면 다시 리기
    async function render(id, type) {
      $("#position-box").html('');
      let responseBody = await download(id, type);
      responseBody.forEach((jobOpening) => {
        $("#position-box").append(jobOpeningBox(jobOpening));
      });

      console.log("화면 그리기")

      // 3. 컴퍼넌트
      function jobOpeningBox(jobOpening) {
        return `
        <li class="comp_item">
          <a href="/user/jobOpening/${jobOpening.jobOpeningId}">
            <ul class="comp_cont">
              <li class="comp_img">
                <img src="/image/company_img/comp_img01.png" alt="기업01">
              </li>
              <li class="com_name">
                ${jobOpening.compName}
              </li>
              <li class="com_tit">
                <h4>${jobOpening.title}</h4>
              </li>
              <li class="com_txt">
                <p>${jobOpening.skill}</p>
              </li>
              <li class="com_etc">
                <span class="com_adr">
                  <p class="compaddress">${jobOpening.compAddress}</p>
                  <p>|</p>
                </span>
                <span class="com_car">
                  <p class="career">${jobOpening.career}</p>
                  <p>${jobOpening.careerYear}</p>
                </span>
              </li>
            </ul>
          </a>
        </li>`;
      }


      console.log("html 결합");

      // 4. 통신코드
      async function download(id, type) {
        let response = await fetch(`/api/jobOpening/select/${type}?${type}Id=${id}`);
        let responseBody = await response.json();
        console.log(responseBody);
        return responseBody;
      }
    }
    console.log("통신다운로드")
  </script>

</main>
<!-- 메인 -->

{{>layout/footer}}