{{>layout/compheader}}

<!-- 메인 -->
<!-- 각자 페이지 main 클래스에 name 작성-->
<!-- main 클래스에 background-color를 넣을거면 class="common_bg" 넣어주기 -->
<main class="comp_info common_bg">
  <div class="container">
    <!-- container 건들지 말기 -->
    <!-- 여기서부터 시작 -->
    <div class="main_tit">
      <h2>회사 정보</h2>
    </div>
    <div class="row">
      <div class="col-sm-3">
        <div class="mypage_left">
          <ul>
            <li>
              <div class="comp_pic_bg">
                <div class="comp_pic">
                  <img id="preview" src="">
                </div>
              </div>
            </li>
            <li>
              {{#sessionUser}}
              <h3>{{userName}}</h3>
              {{/sessionUser}}
            </li>
          </ul>
          <ul class="mypage_menu tab_menu">
            <li><a href="#" data-tab="comp_info">회사 정보 수정</a></li>
            <li><a href="#" data-tab="comp_resume">채용 공고</a></li>
            <li><a href="#" data-tab="comp_applications">지원/제안</a></li>
            <li><a href="#" data-tab="comp_scrap">스크랩</a></li>
            <li><a href="#" data-tab="comp_user_update">비밀번호 변경</a></li>
          </ul>
          <ul class="mypage_menu">
            <li><a href="#">로그아웃</a></li>
          </ul>
        </div>
      </div>
      <div class="col-sm-9">
        <div class="mypage_right tab-content" id="comp_info">
          <div class="comp_back">
            <div class="basic">


              <form action="/compinfo/update" method="post" enctype="multipart/form-data" class="cp_explan">
                <div class="comp_pic_bg">
                  <div class="comp_pic">
                    <img id="preview" src="">
                  </div>
                  <input type="file" onchange="changeCompPic(event)" name="compPic">
                </div>
                {{#sessionUser}}
                <div>
                  <label for="compDate" class="form-label">연력</label>
                  <input type="date" class="form-control" id="compDate" name="compDate" value="{{compHistory}}">
                </div>
                <div>
                  <label for="compExplan" class="form-label">회사 소개</label>
                  <input type="text" class="form-control" id="compExplan" name="compExplan" value="{{compIntro}}">
                </div>
                {{/sessionUser}}
                <div style="display: flex; justify-content: center;">
                  <button type="submit" class="btn btn-primary">확인</button>
                </div>
              </form>

            </div>
          </div>
        </div>
        <div class="mypage_right tab-content mypage_list_item" id="comp_resume">
          <div class="mypage_list">
            <div class="resume_btn">
              <div class="resume_count">전체
                <span class="common_num">{{totalJopOpeningList}}</span>
              </div>
              <a href="/comp/jobOpening/saveForm" class="btn btn-primary" type="button">공고 작성</a>
            </div>

            {{#jobOpeningList}}
            <ul class="com_cont">
              <li class="resume_inner">
                <ul class="resume_cont">
                  <li class="com_tit com_btn">
                    <h4>{{title}}</h4>
                    <div class="double_btn">
                      <form action="/comp/jobOpening/{{jobOpening.id}}/updateForm">
                        <button type="submit" class="btn_empty">공고 수정</button>
                      </form>
                      <form action="#">
                        <button type="submit" class="btn_fill">공고 삭제</button>
                      </form>
                    </div>
                  </li>
                  <li class="com_txt">
                    {{edu}} {{career}} {{#careerYear}}{{careerYear}}{{/careerYear}}
                  </li>
                  <li class="com_skill comp_skill">
                    <!-- 요구 기술 받아오기-->
                  </li>
                </ul>
              </li>
            </ul>
            {{/jobOpeningList}}

          </div>
        </div>
        <div class="mypage_right tab-content mypage_list_item" id="comp_applications">
          <div class="resume_btn">
            <div class="resume_count">지원
              <span class="common_num">1</span>
            </div>
          </div>
          <table class="table">
            <thead>
              <tr class="table-primary">
                <th class="td_width80">NO.1</th>
                <th class="td_width80">지원자</th>
                <th class="td_width160">이력서</th>
                <th class="td_width140">공고명</th>
                <th class="td_width120">상태</th>
                <th class="td_width140">응답</th>
              </tr>
            </thead>
            <tbody>
              <tr class="td_border">
                <td>1</td>
                <td>남은혜</td>
                <td><a href="user_resume_detail_check.html">열심히 하겠습니다</a></td>
                <td>백엔드 개발자 채용</td>
                <td>
                  <ul>
                    <li class="wait_btn">대기중</li>
                    <li class="accept_btn">합격</li>
                    <li class="refuse_btn">불합격</li>
                  </ul>
                </td>
                <td>
                  <select class="select">
                    <option value="option1">답변하기</option>
                    <option class="option_style1" value="option2">합격</option>
                    <option value="option3">불합격</option>
                  </select>
                </td>
              </tr>
            </tbody>
          </table>
          <div>
            <div class="resume_btn">
              <div class="resume_count">제안
                <span class="common_num">1</span>
              </div>
            </div>
            <table class="table">
              <thead>
                <tr class="table-primary">
                  <th class="td_width80">NO.1</th>
                  <th class="td_width80">지원자</th>
                  <th class="td_width160">이력서</th>
                  <th class="td_width140">공고명</th>
                  <th class="td_width120">포지션</th>
                  <th class="td_width120">상태</th>
                </tr>
              </thead>
              <tbody>
                <tr class="td_border">
                  <td>1</td>
                  <td>남은혜</td>
                  <td><a href="user_resume_detail.html">열심히 하겠습니다</a></td>
                  <td>백엔드개발자채용</td>
                  <td>백엔드</td>
                  <td>
                    <ul>
                      <li class="wait_btn">대기중</li>
                      <li class="accept_btn">수락</li>
                      <li class="refuse_btn">거절</li>
                    </ul>
                  </td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
        <div class="mypage_right tab-content mypage_list_item" id="comp_scrap">
          <div class="mypage_list">
            <div class="resume_count">전체
              <span class="common_num">3</span>
            </div>
            <ul class="com_cont">
              <li class="resume_inner">
                <ul class="resume_cont">
                  <li class="com_tit com_btn">
                    <div class="apply_scrap">
                      <form action="#">
                        <button type="button" id="scrap_button" class="btn_empty scrap_icon scrap_button">
                          <img id="scrap_icon" src="/image/full_star.png" alt="empty_star.png">
                        </button>
                      </form>
                      <a href="user_resume_detail.html">
                        <h4>끊임없이 개발하려는 개발자</h4>
                      </a>
                    </div>
                  </li>
                  <li class="com_txt">고졸 신입</li>
                  <li class="com_skill user_skill">
                    <span class="skill_box">HTML/CSS</span>
                    <span class="skill_box">JavaScript</span>
                    <span class="skill_box">MySQL</span>
                    <span class="skill_box">Spring</span>
                    <span class="skill_box">JAVA</span>
                  </li>
                </ul>
              </li>
            </ul>
          </div>
        </div>
        <div class="mypage_right tab-content mypage_list_item" id="comp_user_update">
          <div class="mypage_list udback">
            <div class="update_box">
              <div class="udpassword ">

                <form action="/comppw/update" method="post" class="pw_update">
                  <div class="">
                    <label for="nowPassword" class="form-label">현재 비밀번호</label>
                    <input type="password" class="form-control" id="nowPassword" placeholder="비밀번호를 입력해 주세요."
                      name="nowPassword">
                  </div>
                  <div class="">
                    <label for="newPassword" class="form-label">새 비밀번호</label>
                    <input type="password" class="form-control" id="newPassword" placeholder="비밀번호를 입력해 주세요."
                      name="newPassword">
                  </div>
                  <div class="">
                    <label for="newPasswordConfirm" class="form-label">새 비밀번호 확인</label>
                    <input type="password" class="form-control" id="newPasswordConfirm" placeholder="비밀번호를 입력해 주세요."
                      name="newPasswordConfirm">
                  </div>
                  <div style="display: flex; justify-content: center;">
                    <button type="submit" class="btn btn-primary">확인</button>
                  </div>

                </form>

              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <script>
    function changeCompPic(e1) {
      let f = e1.srcElement.files[0];
      console.log(f.type);
      if (!f.type.match("image.*")) {
        alert("이미지를 등록해주세요");
        return;
      }
      let reader = new FileReader();
      reader.onload = function (e2) { // 파일이 다 읽어지면 콜백됨
        let previewEl = document.querySelector("#preview");
        previewEl.setAttribute("src", e2.target.result);
      }
      reader.readAsDataURL(f); // 파일 읽기 onload()
    }
  </script>
</main>
{{>layout/footer}}